<!DOCTYPE html>
<html>

<head>
  <title>Shipping Calculator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <h1>Calculate Parcel Cost</h1>
    <form action="/TotalCost" method="post">
      <label for="depth">Enter Depth:</label>
      <input id="depth" name="depth" type="number" required>
      <label for="length">Enter Length:</label>
      <input id="length" name="length" type="number" required>
      <label for="width">Enter Width:</label>
      <input id="width" name="width" type="number" required>
      <label for="weight">Enter Weight:</label>
      <input id="weight" name="weight" type="number" required>
      <button type="submit">Calculate</button>
    </form>
  </body>   

</html>